/* 공통 grade_title */
.grade_title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h3 {
		font-size: 14px;
		font-weight: 500;
	}

	button {
		font-size: 12px;
		line-height: 0.9;
		color: #888;
		border-bottom: 1px solid #888;
		background-color: transparent;
	}
}

/* seller_bidding */
.seller_bidding {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;

	h3 {
		font-size: 16px;
		font-weight: normal;
	}

	.bidding_num {
		font-size: 18px;
		font-weight: bold;

		strong {
			color: #f53b3b;
		}

		&::before {
			content: "";
			width: 16px;
			height: 12px;
			display: inline-block;
			background: url('../img/ico-ticket.svg') no-repeat center;
			margin-right: 4px;
		}

		&::after {
			content: "";
			width: 12px;
			height: 12px;
			display: inline-block;
			background: url('../img/btn-enter2.svg') no-repeat center;
			margin-left: 4px;
		}
	}
}

/* request_btn */
.request_btn {
	width: 100%;
	height: 40px;
	font-size: 16px;
	color: #fff;
	border-radius: 8px;
	background-color: #f53b3b;
	transition: all 0.3s;

	&:hover {
		filter: brightness(1.1);
	}
}

/* box_wrap */
.box_wrap {
	display: flex;
	column-gap: 12px;
	margin: 12px auto 14px;

	li {
		flex: 50%;
		font-size: 12px;
		text-align: center;
		color: #555;
		border-radius: 8px;
		background-color: #fff;
		padding: 13px 5px;

		.num {
			font-size: 20px;
			font-weight: bold;
			color: #202020;
			margin-top: 4px;

			span {
				font-size: 12px;
				font-weight: normal;
			}
		}
	}
}

/* graph */
.graph {
	height: 186px;
	padding: 14px 16px;

	h5 {
		font-size: 12px;
		font-weight: normal;
		color: #555;

	}
}

/* bannner */
.bannner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: right;
	border-radius: 8px;
	background-color: #ffe8e8;
	padding: 8px 16px;
	margin: 12px 0;

	&::before {
		content: "";
		width: 100px;
		height: 60px;
		background: url('../img/img-banner-book.png') no-repeat center/contain;
	}

	&>div {
		white-space: nowrap;
	}

	p {
		font-size: 12px;
		opacity: 0.5;
	}

	h4 {
		font-size: 16px;
		margin-top: 2px;

		span {
			color: #f53b3b;
		}
	}
}

/* review_box */
.review_box {
	border-radius: 12px;

	.grade_wrap {
		display: flex;
		align-items: center;
		margin: 18px 0;

		strong {
			font-size: 24px;
			font-weight: bold;
			margin-right: 16px;
		}

		.star_wrap {
			span {
				width: 12px;
				height: 12px;
			}
		}

		.review_total {
			font-size: 12px;
			font-weight: 300;
			color: #888;

			span {
				font-weight: 500;
			}
		}
	}

	.review_wrap {
		width: 100%;

		li {
			border-radius: 8px;
			background-color: #f7f7f7;
			padding: 9px 8px;

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			p {
				font-size: 12px;
				font-weight: 300;
				color: #000;
				white-space: wrap;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				overflow: hidden;
			}
		}
	}
}

/* notice_box */
.notice_box {
	border-radius: 12px;
	padding-bottom: 4px;
	margin: 12px 0;

	.title_info {
		font-size: 12px;
		color: #888;
		padding: 4px 0;
	}

	.notice_list {
		li {
			font-size: 12px;
			padding: 13px 0;
			cursor: pointer;

			p {
				white-space: wrap;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				overflow: hidden;
			}

			&:not(:last-child) {
				border-bottom: 1px solid #f4f4f4;
			}

			div {
				font-size: 10px;
				color: #ddd;
				margin-top: 3px;
			}
		}
	}
}

/* service_wrap */
.service_wrap {
	display: flex;
	column-gap: 12px;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 76px;
		font-size: 16px;
		font-weight: bold;
		border-radius: 12px;
		background-color: #fff;

		span {
			&::before {
				content: "";
				display: block;
				width: 28px;
				height: 28px;
				margin: auto;
			}
		}

		&:nth-child(1) span::before {
			background: url('../img/ico-qna.png') no-repeat center;
		}

		&:nth-child(2) span::before {
			background: url('../img/ico-faq.png') no-repeat center;
		}
	}
}